In [1]:
import pandas as pd
import ast

In [2]:
rows = []

with open(r'D:\PROGRAMACION\PROYECTOS\PROYECTOINDIVIDIAL1\PROYECTOINDIVUDUAL\DATASETS\australian_users_items.json', encoding = 'utf-8') as f:
  for line in f.readlines():
    rows.append(ast.literal_eval(line))

df_items = pd.DataFrame(rows)

In [3]:
df_items = pd.json_normalize(rows, record_path='items', meta=['user_id', 'user_url', 'items_count', 'steam_id'])

In [4]:
df_items = df_items.drop(columns=['user_url', 'items_count', 'steam_id', 'playtime_2weeks'])

In [5]:
df_items.drop_duplicates(subset=['user_id','item_id','item_name'],inplace=True)

In [6]:
df_items

,item_id,item_name,playtime_forever,user_id
0,10,Counter-Strike,6,76561197970982479
1,20,Team Fortress Classic,0,76561197970982479
2,30,Day of Defeat,7,76561197970982479
3,40,Deathmatch Classic,0,76561197970982479
4,50,Half-Life: Opposing Force,0,76561197970982479
...,...,...,...,...
5153204,346330,BrainBread 2,0,76561198329548331
5153205,373330,All Is Dust,0,76561198329548331
5153206,388490,One Way To Die: Steam Edition,3,76561198329548331
5153207,521570,You Have 10 Seconds 2,4,76561198329548331
5153208,519140,Minds Eyes,3,76561198329548331

In [7]:
df = df_items[df_items['playtime_forever'] != 0]

In [8]:
df

,item_id,item_name,playtime_forever,user_id
0,10,Counter-Strike,6,76561197970982479
2,30,Day of Defeat,7,76561197970982479
8,300,Day of Defeat: Source,4733,76561197970982479
9,240,Counter-Strike: Source,1853,76561197970982479
10,3830,Psychonauts,333,76561197970982479
...,...,...,...,...
5153202,304930,Unturned,677,76561198329548331
5153203,227940,Heroes & Generals,43,76561198329548331
5153206,388490,One Way To Die: Steam Edition,3,76561198329548331
5153207,521570,You Have 10 Seconds 2,4,76561198329548331
5153208,519140,Minds Eyes,3,76561198329548331

In [9]:
df = df.reindex(columns=['user_id', 'item_id', 'item_name', 'playtime_forever'])

In [10]:
df

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6
2,76561197970982479,30,Day of Defeat,7
8,76561197970982479,300,Day of Defeat: Source,4733
9,76561197970982479,240,Counter-Strike: Source,1853
10,76561197970982479,3830,Psychonauts,333
...,...,...,...,...
5153202,76561198329548331,304930,Unturned,677
5153203,76561198329548331,227940,Heroes & Generals,43
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,519140,Minds Eyes,3

In [11]:
df.to_csv(r'D:\PROGRAMACION\PROYECTOS\PROYECTOINDIVIDIAL1\PROYECTOINDIVUDUAL\ARCHIVOSCSVLIMPIOS\useritems.csv', index=False)

In [12]:
df.to_parquet(r'D:\PROGRAMACION\PROYECTOS\PROYECTOINDIVIDIAL1\PROYECTOINDIVUDUAL\ARCHIVOSCSVLIMPIOS\PARQUETS\useritems.parquet')